 <div class="banner {% if page.url == '/wine'%} banner-wine {% elsif page.url == '/events'%} banner-events {% endif %}">
 	
	{% if page.banner_video_path %}
		<!-- <amp-youtube
		width='1920'
		height='1080'
		layout='responsive'
		data-videoid='Z2-CIHrbRmM'
		autoplay>
		</amp-youtube> -->


		<!-- <amp-iframe
		width="1920"
		height="1080"
		layout="responsive"
		frameborder="0"
		allowfullscreen
		allow-scripts
		src='https://www.youtube.com/embed/Z2-CIHrbRmM'>
		<amp-image layout='fill' src='images/banner/wine-pour.jpg' placeholder>	</amp-image>
		</amp-iframe>
 -->



		<amp-video 
		controls
		autoplay 
		muted 
		loop 
		id="bgvid"
		width="1920px"
		height="1080px"
		layout="responsive"
		poster="{{page.banner_background_image}}">
		    <source src="{{page.banner_video_path}}" type="video/mp4" />
		</amp-video>
		
	{% endif %}
	<hgroup>
			<h1 class="home-title">{{page.banner_headline}}</h1>
		{% if page.banner_button_text %}
			<a class="button cta" 
			on="tap:find-us.scrollTo(duration=500)">{{page.banner_button_text}}</a>
		{% endif %}

	</hgroup>
	<amp-img 
	src="{{page.banner_bottom_image}}" 
	alt="" 
	width="1200"
	height="100"
	layout="responsive"
	class="banner-bottom" />
	
</div>