<div class="contact-info">
	{% if site.data.info.phone %}
		<section>
			<amp-img src="/images/icons/phone.svg"
				alt="Phone" 
				width="20"
				height="20">
			</amp-img>
			<strong>Phone</strong>
			<a href = "tel: {{ site.data.info.phone }}">{{ site.data.info.phone }}</a>
		</section>
	{% endif %}
	{% if site.data.info.physical-address %}
		<section>
			<amp-img src="/images/icons/marker.svg"
				alt="Address"
				width="20"
				height="20">
			</amp-img>
			<strong>Address</strong>
			<span> <a href="{{site.data.info.map-link}}" target="_blank">{{ site.data.info.physical-address }}<br />{{ site.data.info.city }}, {{site.data.info.state }} {{site.data.info.zip }}</a></span>
		</section>
	{% endif %}
	{% if site.data.info.email %}
		<section>
			<amp-img src="/images/icons/mail.svg"
				alt="Email"
				width="20"
				height="20">
			</amp-img>
			<strong>Email</strong>
			<a href ="mailto: {{site.data.info.email}}">{{ site.data.info.email }}</a>
		</section>
	{% endif %}
	
	
	<amp-img src="/images/icons/compass.svg"
		alt="" 
		width="100"
		height="100"
		class="compass">
	</amp-img>
</div>



