<li>
	<hgroup>
		<h3>{{ event.name }}</h3>
		<h4> 
			{{event.date | date_to_long_string }} @ {{ event.date | date: "%I:%M %P" }}
		</h4>
	</hgroup>
	{% if event.event_image %}
	<amp-img src="{{ event.event_image }}"
		width="580"
		height="387"
		layout ="responsive"
		alt="event image">
	</amp-img>
	{% endif %}
	<article>
		{{ event.description_markdown | markdownify }}
	</article>
</li>
