<div id="find-us">
	<div class ="find-us">
		<hgroup class ='tastings'>
			<amp-img src="/images/icons/taste.svg" 
			alt="wine icon"
			width="240"
			height="240" />
			<!--<h1 class="editable">Come Taste Our Wines</h1>-->
			<!--<h2 class="editable">We Can't Wait To Meet You</h2>-->
		</hgroup >
		{% include tasting.html %}
		{% include hours.html %}
	</div>
	{% include contact-info.html %}
	{% include map-1.html %}
</div>