<footer class="footer">
	<section>
		<a href="/">
			<amp-img 
			src="/images/logos/logo-dark-h.svg" 
			alt="" 
			height="80"
			width="150"
			layout="responsive"
			class="footer-logo"/>
		</a>
		
		<div class="social">
			<a href="{{ site.data.info.facebook_url }}" target="_blank"><amp-img src="/images/icons/fb-icon.svg" width="20" height="24"/></a>
			<a href="{{ site.data.info.instagram_url }}" target="_blank"><amp-img src="/images/icons/ig-icon.svg" width="20" height="24"/></a>
			<a href="{{ site.data.info.youtube_url }}" target="_blank"><amp-img src="/images/icons/youtube-icon.svg" width="20" height="24"/></a>
			<a href="{{ site.data.info.twitter_url }}" target="_blank"><amp-img src="/images/icons/twitter-icon.svg" width="20" height="24"/></a>
		</div>
		

		{% include nav.html %}
		
		<p class="copyright">© Copyright {{ 'now' | date: "%Y" }}. {{ site.title }}. All Rights Reserved.</p>
		
	</section>
</footer>