<header [class]="toggleVar ? 'header open' : 'header' " class="header">
	<div class="menu-button" on="tap:AMP.setState({toggleVar: !toggleVar})" role="" tabindex="">
		<span class="one"></span>
		<span class="two"></span>
		<span class="three"></span>
	</div>
	<div>
		<a href="/">
			<amp-img src="/images/logos/logo-h-2.svg" 
			height="72"
			width="216"
			alt="" />
		</a>
		{% include nav.html %}
	</div>
	
</header>