<div id="map>">

	<amp-iframe 
	sandbox="allow-scripts"
	src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYRgFCVHTcMUmOi3gyyiTzpfDZCH_MAGU&q=10+North+Central+Street,Colorado+City,AZ&zoom=10"
	height="400"
	layout= "fixed-height" 
	frameborder="0" 
	allowfullscreen>
	</amp-iframe>
	
</div>