<nav>
	<a href="/" {% if page.url == '/' %}class="selected"{% endif %}>Home</a>
	{% assign navitems = site.main-pages | sort: 'nav_order'  %}
	{% for item in navitems %}
		{% if item.hide_from_nav == false %}
			<a href="{{ item.url }}" {% if page.url contains item.nav_class %}class="selected"{% endif %}>{{ item.nav_title }}</a>
		{% endif %}
	{% endfor %}
	<a href="#find-us" class="cta" on="tap:find-us.scrollTo(duration=500)">Find Us</a>
</nav>