<ul class="wine-list">	
	{% for wine in wine-list %}
	<li>
		<a href='{{wine.url}}'>
			<amp-img src="{{wine.image_path}}"
			width="163"
			height="244"
			alt="wine bottle">
			</amp-img> 
			<hgroup>
				<h2 title='{{wine.region}}'> {{wine.winename}} </h2>
				<p> {{wine.price}} </p>
			</hgroup>
		</a>
	</li>
	{% endfor %}
</ul>