/* @group article */
article {
	max-width: 720px;
	margin: 0 auto;
	padding: 48px 0px;
	text-align: left;
}
article > * {
	margin:0 0 24px 0;
}
article > blockquote,
article > p > em {
	display: block;
	text-align: center;
}
article > :first-child {
	margin-top: 0;
}
article > :last-child {
	margin-bottom: 0;
}

article amp-img {
	width: 100%;
	margin-bottom: 24px;
}
article blockquote {
	padding: 24px 0;
}



@media all and (max-width: 960px) {

	article {
		padding: 48px;
		column-count: 1;
	}

}

@media all and (max-width: 720px) {

	article {
		padding: 0 24px;
		column-count: 1;
	}

}

@media all and (max-width: 480px) {

	article {
		padding: 0 0 48px 0;
	}
	article h1,
	article h2,
	article h3,
	article h4,
	article h5,
	article h6,
	article p,
	article ul {
		padding-left: 24px;
		padding-right: 24px;
	}
	article ul,
	article ol {
		padding-left: 60px;
	}
}
/* @end */