
.banner {
	position: relative;
	max-height: 720px;
	/*min-height: 320px;*/

	height:500px;
	background-image: url('');
	background-color: #26292d;
	background-size: cover;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.banner-wine{
	background-image: url('/images/banner/club.png');
	height:500px;
}
.banner-events{
	background-image: url('/images/banner/winery-event.jpg');
	height:500px;
}

/*.banner:before {
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(43, 16, 5, 0.71);
}*/

.banner > .banner-bottom {
	position: absolute;
	z-index: 100000000;
	width: 100%;
	height: auto;
	bottom: -1px;
	left: 0px;
}
.content .banner.half > hgroup > p {
	clear: both;
	text-align: left;
	color: #fff;
}
.banner > amp-img {
	position: absolute;
	height: 100%;
}
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	vertical-align: middle;
}




/* @group HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	padding: 0 24px;
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > amp-img {
	max-width: 200px;
	margin: 0 auto 0px auto;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 400 36px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > .button {
	margin: 24px 0 0 0;
	background: none;
	border: 3px solid #fff;
}

/* @end */
/* @end */ 



/* @group BG Vid */

amp-video { 
	/*position: relative;*/
	display: block; 
}

amp-video#bgvid { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
amp-video#bgvid > video {
	height: auto;
}

@media all and (max-width: 900px){
	.banner{
		height:410px;
	}
}
@media all and (max-width: 720px){
	.banner{
		height:300px;
	}
}
@media all and (max-width: 620px){
	.banner{
		height:250px;
	}
}
@media all and (max-width:450px) {

.banner {
	height: 200px;
}
	.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 400 24px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
	.banner > hgroup > .button {
	margin: 24px 0 0 0;
	background: none;
	border: 3px solid #fff;
}
	.button {
		padding:3px 16px;
		font:900 10px/24px Georgia, "Times New Roman", Times, serif;
	}
amp-video#bgvid > video {
	width: auto;
	height: 480px;
}

}



@media all and (max-width:370px) {

amp-video#bgvid {
	/*display: none;*/
}

}