/* @group Buttons */

.button {
	display: inline-block;
	position: relative;
	width: ;
	margin:0;
	padding: 6px 24px;	
	background: #cb2027;
	border: 1px solide #2466b0;
	border-radius: 24px;
	outline: none;
	box-shadow: none;
	color: #fff;
	font: 900 12px/24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
}
.button:hover,
.button:active {
	color: #fff;
	border-color: #2466b0;
	background: #2466b0;
}

/* @end */