/* @group Contact Info */

.contact-info {
	position: relative;
	/*max-width: 480px;*/
	padding: 48px 0;
	margin: 0 auto;
	padding: 48px 0;
	
	background: #fff;
	border: 1px solid #ccc;
	border-left: none;
	border-right: none;
	box-shadow: 0 10px 0px -5px #fff inset, 0 11px 0px -5px #ccc inset, 0 -10px 0px -5px #fff inset, 0 -11px 0px -5px #ccc inset;
	
	text-align: center;
}
.contact-info > section {
	display: inline-block;
	width: 30%;
	margin: 24px 0;
	padding: 0 6px;
	font: 200 16px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	white-space: nowrap;
	text-align: center;
	letter-spacing: 1px;
	overflow: visible;
	vertical-align: bottom;
}
.contact-info > section > strong {
	margin: 0 0 0px 0;
	font: 900 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}
.contact-info > section > amp-img {
	display: inline-block;

}

.contact-info > section > span {
	font: 400 14px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	display: inline-block;
}
.contact-info > p > span:before {
	content: attr(title);
	font: 900 18px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	letter-spacing: 4px;
	text-transform: uppercase;
}



.contact-info > .compass {
	position: absolute;
	z-index: 1000000000000000;
	left: 50%;
	bottom: -50px;
	width: 100px;
	margin: 0 0 0 -50px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 96px;
	box-shadow: 0 0 0 3px #fff;
}


@media all and (max-width:720px) {

.contact-info {
	padding: 0 0 36px 0;
}
.contact-info > section {
	display: block;
	width: 100%;
	padding: 18px 0;
}
.contact-info > section > strong {
	margin: 0;
}
.contact-info > section > span {
	
}

}
/* @end */