/* @group Events */

.events {
	margin: 48px auto;
	/*max-width: 720px;*/
	text-align: center;
}
.events > h2 {
	text-align: center;
	margin: 0 0 36px 0;
}
.events > ul {
	/*margin: 0 auto;*/
	padding: 0 48px 0 50%;
	max-width: 1200px;
	list-style: none;
	/*border-bottom: 1px solid #ccc;*/
}
.events > ul > li {
	position: relative;
	padding: 0px 0 48px 24px;
	border-left: 2px solid #ccc;
}
.events > ul > li:last-of-type {
	padding-bottom: 0px;
}
.events > ul > li:before {
	content: "\00a0";
	display: block;
	position: absolute;
	left: -12px;
	top: -2px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #ccc;
	border: 5px solid #fff;
}
.events > ul > li > hgroup {
	margin: 0 0 12px 0;
} 
.events > ul > li > hgroup > h3{
	font: 900 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1;
}
.events > ul > li > hgroup > h4 {
	font-weight: 100;
}
.events > ul > li > amp-img {
	border-radius: 6px;
	width: 100%;
	margin: 0 0 12px 0;
	overflow: hidden;
}
.events > ul > li > article {
	padding: 0;
	text-align: left;
}
.events .button {
	/*display: none;*/
	position: relative;
	/*top: -42px;*/
	max-width: 200px;
	margin: 24px 0 0 0;
}



.events > ul > li:nth-last-of-type(even) {
	position: relative;
	left: -100%;
	margin: 0 -2px 0 0px;
	padding: 0 24px 48px 0;
	border-left: none;
	border-right: 2px solid #ccc;
}
.events > ul > li:nth-last-of-type(even):before {
	left: auto;
	right: -11px;
}
.events > ul > li:nth-last-of-type(even) > hgroup {
	text-align: right;
}
.events > ul > li:nth-last-of-type(even) > article {
	text-align: right;
}


@media all and (max-width:720px) {

.events > ul {
	padding: 0 24px;
}

.events > ul > li:nth-last-of-type(even) {
	position: relative;
	left: 0%;
	margin: 0 0px 0 0px;
	padding: 0 0px 48px 24px;
	border-right: none;
	border-left: 2px solid #ccc;
}
.events > ul > li:nth-last-of-type(even):before {
	right: auto;
	left: -12px;
}
.events > ul > li:nth-last-of-type(even) > hgroup {
	text-align: left;
}
.events > ul > li:nth-last-of-type(even) > article {
	text-align: left;
}

}

/* @end */
