/* @group Find Us */

.find-us {
	position: relative;
	margin: 0 auto;
	padding: 48px 0 0 0;
	/*max-width: 720px;*/
	background-image: url(/images/banner/wine-pour.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.find-us::after{
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(43, 16, 5, 0.71);
}
.find-us > hgroup {
	position: relative;
	z-index: 1000000;
	text-align: center;
}
.find-us > hgroup > amp-img {
	width: 240px;
}
.find-us > h1 {
	text-align: center;
}
.find-us > .contact-info {
	position: relative;
	z-index: 1000000000000;
}
.find-us > .hours {
	position: relative;
	z-index: 1000;
}

/* @end */