/* @group Footer */

.footer {
	padding: 96px;
	background: #fff;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;
}
.footer > section {
	text-align: center;
}


.footer > section > a {
	display: block;
	margin: 0 auto 24px auto;
	max-width: 150px;
	text-decoration: none;
}
.footer > section > .social {
	margin: 0 0 12px 0;
}
.footer > section > .social > a {
	text-decoration: none;
	font-size: 24px;
	color: inherit;
	margin: 0 12px;
	display:inline-block;
}
.footer > section > .social > a:hover {
	color: #e71d25;
}


.footer > section > nav {
	padding: 10px;
	margin: 0 0 6px 0;
}
.footer > section > nav > a {
	margin: 0 9px;
	text-decoration: none;
}
.footer > section > nav > a:hover {
	color: #e71d25;
}



.footer > section > .copyright {
	margin: 0 0 0px 0;
	font: 200 12px/16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}



.footer > section > .contact-info {
	display: none;
}
.footer > section > .contact-info > p {
	font:200  14px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


@media all and (max-width:480px) {
	footer.footer {
		padding: 48px 12px;
	}
}

/* @end */
