/* @group Header */

.header {
	position: absolute;
	width: 100%;
	z-index: 1000000000000000;
	display: block;
	height: 72px;
	
} 
.header-wine {
	background-color: #402828;
	position:relative;
}
.header > div {
	display: block;
	height: 72px;
	max-width: 960px;
	margin: 0 auto;
}

.header > div > a {
	float: left;
	max-width: 50%;
	height: 100%;
	position: relative;
	text-decoration: none;
	height: 72px;
	padding: 0 0 0 50px;
	text-transform: uppercase;
	text-align: center;
	font: 200 18px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}
.header > div > nav {
	background-color: rgba(0,0,0,0);
	float: right;
	text-align: left;
}
.header div > nav > a {
	display: inline-block;
	position: relative;
	margin: 0 12px 0 0;
	font: 600 12px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgba(0,0,0,.75);
	color: rgba(255,255,255,.75);
	color: #fff;
}
.header > div > nav > a:hover {
	color: #eb363d;
}
.header > div > nav > a.selected {
	color: #eb363d;
}
.header > div > nav > a.selected:before  {
	content: '\00a0';
	position: absolute;
	left: 50%;
	bottom: 18px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 -4px;
	background: #eb363d;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.header > div > nav > a.selected:after  {
	content: '\00a0';
	position: absolute;
	left: 0;
	bottom: 22px;
	width: 100%;
	height: 5px;
	background: #eb363d;
}
.header > div > nav > a:last-of-type {
	margin-right: 0;
}

.header > div > nav > a.cta {
	padding: 3px 18px;
	border: 2px solid #fff;
	border-radius: 48px;
	line-height: 24px;
}
.header > div > nav > a.cta:hover {
	background: #fff;
	color: #000;
}
.header > div > a > amp-img {
	position: absolute;
	left: 0px;
	top: 18px;
	height: 36px;
}
.header > div > a > span {
	display: block;
	font-size: 12px;
	letter-spacing: 13px;
}
.header > div > a > strong {
	display: block;
	letter-spacing: 1px;
	white-space: nowrap;
	border-bottom: 2px solid #fff;
}

.header > div > a > p {
	font: 400 16px/72px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
	color: #fff;
}

.header > .menu-button {
	display: none;
}
@media all and (max-width: 960px) {
	header {
		left: 0;
		margin: 0;
	}
	.header > div > a {
		margin: 0 0 0 12px;
	}
}
@media all and (max-width: 720px) {
.header {
	position: fixed;
	z-index: 1000000000;
	left: -250px;
	top:0;
	height: 100%;
	width: 250px;
	padding: 175px 0px 0px 0px;
	background: #26292D;
	background-size: cover;
	background-position: center;
	text-align: center;
	-webkit-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;

}
	

.header > div {
	display: block;
	width: 100%;
	height: auto;
}

.header > div > a {
	float: none;
	width: 100%;
	height: 175px;
	max-width: none;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
.header > div > a > amp-img {
	float: none;
	position: relative;
	left: auto;
	right: auto;
	display: inline-block;
	width: 80%;
	height: auto;
	margin: 48px auto 0 auto;
}
.header > div > a > h1 {
	font-size: 12px;
}
.header > div > a > h1 > span {
	font-size: 24px;
	line-height: 36px;
}




.header > .menu-button {
	display: block;
	position: absolute;
	z-index: 10000000000;
	right: -45px;
	top: 3px;
	width: 36px;
	height: 24px;
	cursor: pointer;
}
.header > .menu-button > span {
	position: relative;
	display: block;
	background: #fff;
	height: 6px;
	margin: 6px 0;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;
	box-shadow: 0px 1px 3px rgba(0,0,0,.5);
}

.header > div > nav {
	position: relative;
	float: none;
	width: 100%;
	height: auto;
	padding: 24px 0;
	overflow-x: hidden;
	overflow-y: scroll;
	
	list-style: none;
	text-align: left;
}
.header > div > nav > a {
	position: relative;
	margin: 0;
	padding: 0 0 0 24px;
	border: 1px solid rgba(0,0,0,0);
	display: block;
	text-decoration: none;
	font:200 18px/48px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 1px;
	text-align: left;
}
.header > div > nav > a.selected {
	font-weight: 400;
	background: rgba(0,0,0,.25);
}
.header > div > nav > a.selected:after {
	top: 0px;
	left: -1px;
	height: 100%;
	width: 4px;
	
}
.header > div > nav > a.selected:before {
	bottom: 50%;
	left: -1px;
	margin: 0 0 -4px 0;
}
.header > div > nav > a.cta {
	display: inline-block;
	margin: 12px 0 0 24px;
}



.header > div > nav > a.snipcart-checkout {
	position: fixed;
	top: 12px;
	right: 12px;
	width: auto;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.5), 0 1px 1px rgba(0,0,0,.5);
}
.header > div > nav > a.snipcart-checkout .snipcart-total-items {
	display: none;
	font-size: 18px;
	vertical-align: middle;
}
}


/* @group Header Open */


.open {
	left: 0;
}
.open > .menu-button {
	
}
.open > .menu-button > span {
	-webkit-transition: all 1s ease-in-out 0s;
	        transition: all 1s ease-in-out 0s;	
}
.open > .menu-button > span.one {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.open > .menu-button > span.two {
	top: 0px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.open + .content {
	opacity: .25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
}
.open > .menu-button > span.three {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

/* @end */ 

/* @end */ 
