/* @group Hours */

.hours {
	list-style: none;
	margin: 72px 0 0 0;
	padding: 0 24px 36px 24px;
	text-align: center;
	overflow: hidden;
	color: #fff;
	white-space: nowrap;
}
.hours > h2 {
	position: relative;
	display: inline-block;
	/*width: 14.285714286%;*/
	border-radius: 3px;
	margin: 0 0 12px 0;
	padding: 6px;
	background: #fff;
	color: #000;
}
.hours > h2:after {
	content: '\00a0';
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 2px;
	height: 12px;
	background: #fff;
}
.hours > li {
	position: relative;
	display: inline-block;
	width: 13.5%;
	max-width: 100px;
	height: 120px;
	padding: 36px 0px 0px 0;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 6px;
	color: inherit;
	vertical-align: top;
	white-space: nowrap;
}
.hours > li > h4 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0 0 12px;
	padding: 6px 0;
	border-bottom: 2px solid #fff;
	font: 200 16px/24px"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4;
	color: inherit;
}
.hours > li:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	vertical-align: middle;
}
.hours > li > hgroup {
	display: inline-block;
	vertical-align: middle;
	padding: 0 12px;
}

.hours > li > hgroup > h5 {
	font: 900 14px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	letter-spacing: 1;
	text-transform: uppercase;
	white-space: normal;
}
/*.hours > li > h5 > i {
	font-weight: 400;
	font-size: 10px;
}*/
.hours > li > hgroup > h6 {
	font: 400 10px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: inherit;
	text-transform: uppercase;
	white-space: normal;
}


@media all and (max-width:720px) {

.hours {
	max-width: 320px;
	margin: 0 auto;
	padding: 48px 0;
}
.hours > li {
	float: none;
	display: block;
	width: 100%;
	max-width: none;
	height: auto;
	margin: 0;
	padding: 6px;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
}
.hours > li:after {
	display: none;
}
.hours > li+li{
	margin: -2px 0 0 0;
}
.hours > li > h4 {
	position: relative;
	float: left;
	width: 30%;
	margin: 0;
	padding: 0;
	text-align: left;
	border: none;
}
.hours > li > hgroup {
	float: left;
	width: 70%;
	height: 24px;
	padding: 0;
	text-align: right;
	font: 200 14px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	white-space: nowrap;
}
.hours > li > hgroup > h5,
.hours > li > hgroup > h6 {
	display: inline-block;
}

}

/* @end */