/* @group Tasting */

.tasting {
	display: inline-block;
	position: relative;
	z-index: 100000;
	margin: 0 auto;
	text-align: center;
	font: 200 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-left: none;
	border-right: none;
	letter-spacing: 2;
}
.tasting > i {
	font-size: 12px;
}

/* @end */