h1 {
    font: 900 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
h2 {
    font: 100 24px/30px Georgia, "Times New Roman", Times, serif;
    text-transform: capitalize;
    color: #333;
    word-spacing: 0;
    letter-spacing: 0px;
    text-align: center;
}
h3 {
    font: 500 16px/24px Georgia, "Times New Roman", Times, serif;
    color: #666;
}
h4 {
    font: 500 15px/24px Georgia, "Times New Roman", Times, serif;
    color: #666;
}
h5 {
    font: 400 14px/24px Georgia, "Times New Roman", Times, serif;
    color: #666;
}
h6 {
    font: 300 13px/24px Georgia, "Times New Roman", Times, serif;
    color: #666;
}

p,
ul,
ol,
a,
blockquote,
article {
    font: 300 17px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #555;
}
p > em {
    /*font-weight: 500;*/
}

ul,ol {
    padding: 0 0 0 24px;
}