
/* @group Wine List */

.wine-list {
	/*margin:0 auto;*/
	/*max-width: 720px;*/
	text-align: center;
}
.wine-list > li {
    position: relative;
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 6px 0;
    overflow: hidden;
    vertical-align: top;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.wine-list > li > a {
	display: block;
	text-decoration: none;
}
.wine-list > li > a > amp-img {
	width: 100%;
}
.wine-list > li > a > hgroup {
	width:100%;
	left: 0;
	bottom: 0;
	padding: 12px;
}
.wine-list > li > a > hgroup > h2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wine-list  > li > a > hgroup > h2:before {
	content: attr(title);
    display: block;
    font-size: 14px;
    line-height: 14px;
}


@media all and (max-width:720px) {

.wine-list {
	text-align: left;
	padding: 24px;
}
.wine-list > li {
	float: left;
	width: 48%;
	margin: 0 1% 2% 1%;
}
.wine-list:after {
	content: '\00a0';
	display: block;
	clear: both;
}

}



/*@media all and (max-width:480px) {

.wine-list {
	
}
.wine-list > li {
	width: 100%;
	margin: 0 0 24px 0;
	padding: 0;
	/*border: none;*!/
}
.wine-list > li > a {
	position: relative;
}
.wine-list > li > a > hgroup {
	position: absolute;
	bottom: 0px;
	left: auto;
	right: -2px;
	width: 75%;
	padding: 12px 24px;
	background: #ccc;
	border: 2px solid #ccc;
}

}*/

/* @end */